.btn{
    border: none;
    border-radius: 100vh;
}

#kounyu-btn{
    text-align: right;
    background-color: orange;
    transition    : .3s;         
    box-shadow    : 2px 2px #666666;
}

#back-btn{
    background-color: #CCCCCC;
    margin-top: 10px;
    margin-bottom: 20px;
    transition    : .3s;         
    box-shadow    : 2px 2px #666666;
}

body{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	font-family: "M PLUS Rounded 1c";
}

.cart{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

.list_design027 {
    list-style: none;
    width: 100%;
    animation-name: wide-scale;
    animation-duration: 1.5s;
  }
  .list_design027 li {
    color: #333;
    border-left: solid 8px #f4a006;
    background: rgba(244, 160, 6, 0.1);
    margin-bottom: 5px;
    padding: 0.5rem;
  }

.deletebtn{
	border: none;
    background-color: red;
    color: white;
    transition    : .3s;         
    box-shadow    : 2px 2px #666666;
}

@keyframes wide-scale {
    0% {
        opacity: 0%;
    }
    100% {
        opacity:100%;
    }
}

.nav-item:hover{
	font-size:30px;
	border-bottom: 2px solid  #3b72edbf;
	transition:1s;
}

.deletebtn:hover {
	background:white;
	color:red;
    box-shadow    : none;
}

#back-btn:hover {
	background:#bdbfc0;
    box-shadow    : none;
}

#kounyu-btn:hover {
	background:#cd8502;
    box-shadow    : none;
}

.logoimg{
    width:200px; height: 40px;
     animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
    }
    
    @keyframes slideIn {
      0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
    }