.btn{
    border: none;
    border-radius: 100vh;
}

#kounyu-btn{
    text-align: right;
    background-color: orange;
}

#back-btn{
    background-color: #CCCCCC;
    margin-top: 10px;
}

.cart{
    margin-left: auto;
    margin-right: auto;
}

.list_design027 {
    list-style: none;
    width: 100%;
  }
  .list_design027 li {
    color: #333;
    border-left: solid 8px #f4a006;
    background: rgba(244, 160, 6, 0.1);
    margin-bottom: 5px;
    padding: 0.5rem;
    width: 25%;
  }