body{
    text-align: center;
	font-family: "M PLUS Rounded 1c";
}

.p-style{
    padding-top: 20%;
    font-size: 24px;
}

#back-btn{
    background-color: lightgreen;
    border-radius: 100vh;
    border: none;
    width: 150px;
    height: 50px;
    margin: 40px;
    font-size: 15px;
}

.nav-item:hover{
	font-size:30px;
	border-bottom: 2px solid  #3b72edbf;
	transition:1s;
}

#back-btn:hover {
	background:#46a746;
}