body{
    text-align: center;
	font-family: "M PLUS Rounded 1c";
}

.p-style{
    padding-top: 10%;
    font-size: 24px;
}

#back-btn{
    background-color: lightgreen;
    border-radius: 100vh;
    border: none;
    width: 150px;
    height: 50px;
    margin: 40px;
    font-size: 15px;
    transition    : .3s;         
    box-shadow    : 2px 2px #666666;
}

.nav-item:hover{
	font-size:30px;
	border-bottom: 2px solid  #3b72edbf;
	transition:1s;
}

#back-btn:hover {
	background:#46a746;
    box-shadow    : none;
}

.logoimg{
    width:200px; height: 40px;
     animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
    }
    
    @keyframes slideIn {
      0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
    }