body{
    text-align: center;
	font-family: "M PLUS Rounded 1c";
}

p{
    font-size: 24px;
}

.p-style{
    margin-top: 50px;
}

.btn{
    border: none;
    border-radius: 100vh;
    font-size: 20px;
    width: 100px;
    height: 45px;
}

#back-btn{
    padding: auto;
    margin-right: 10px;
    background-color: whitesmoke;
}

#buy-btn{
    padding: auto;
    margin-right: 10px;
    background-color: orange;
}

.nav-item:hover{
	font-size:30px;
	border-bottom: 2px solid  #3b72edbf;
	transition:1s;
}

#back-btn:hover {
	background:#bdbfc0
}

#buy-btn:hover {
	background:#cd8502;
}