body{
    text-align: center;
font-family: "M PLUS Rounded 1c";
}

.btn{
    text-align: center;
    border-radius: 100vh;
    width: 150px;
    font-size: 15px;
margin-top: 10px;
}

.cart{
    background-color: yellow;
}

.buy{
    background-color: orange;
    margin-top: 30px;
    transition    : .3s;         
    box-shadow    : 2px 2px #666666;
}

a{
    text-decoration: none;
}

p{
	font-size: 250%;
}

#back-btn{
    padding: auto;
    background-color: whitesmoke;
    margin-bottom: 20px;
    transition    : .3s;         
    box-shadow    : 2px 2px #666666;
}

.incart{
	    background-color: rgb(226, 38, 5);
    color: white;
    border: ridge;
    transition    : .3s;         
    box-shadow    : 2px 2px #666666;
}

.nav-item:hover{
	font-size:30px;
	border-bottom: 2px solid  #3b72edbf;
	transition:1s;
}

.btn:hover {
    background: #da9905;
    box-shadow    : none; 
  }
  
  #back-btn:hover {
      background:#b9b7b7;
      box-shadow    : none; 
  }
  
  .incart:hover {
      background:#750202;
      box-shadow    : none; 
  }

  .logoimg{
    width:200px; height: 40px;
     animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
    }
    
    @keyframes slideIn {
      0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
    }
  