.btn{
    text-align: center;
    border-radius: 100vh;
    width: 150px;
    font-size: 15px;
}

.cart{
    background-color: yellow;
}

.buy{
    background-color: orange;
    margin-top: 30px;
}

a{
    text-decoration: none;
}

.center{
    display       : inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}